*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #212426;
}

#app{
    padding: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    max-width: 100%;
    overflow: hidden;
}

.logo img{
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
}

.search{
    width: 70%;
    margin: 4rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1.75rem;
    border-radius: 4rem;
    background: #1f2123;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
    -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;

}

.search input{
    flex: 1;
    border:none;
    padding-right: 1rem;
    outline: none;
    color:#a1a1a1;
    background-color: #1f2123 ;
    font-size: 1.5rem;
    font-weight: 500;
}

.search img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
